{% extends "administrador/base.html" %}
{% load static %}



{% block title %} TheCleta/Nosotros {% endblock %}

{% block content %}

        <div class="container">
            <div class="row">
                
                <div class="col-sm-12">
                    <div class="col-lg-12 mx-auto">
                        <br>
                        <br>
                        <h2 class="text-center mb-4">The Cleta</h2>                      
                          <p class="lead mb-4">Bienvenido a Thecleta, su destino para encontrar bicicletas exclusivas de alta calidad. Nuestra empresa se dedica a proporcionarle las mejores opciones de bicicletas, desde bicicletas de carretera ultraligeras hasta bicicletas de montaña de alta resistencia.</p>
                          <p class="lead mb-4">En Thecleta, creemos que las bicicletas son más que simplemente un medio de transporte, son un estilo de vida. Por eso, nos aseguramos de ofrecer una amplia gama de opciones de bicicletas que se adaptan a diferentes estilos de vida y necesidades.</p>
                          <p class="lead mb-4">Nuestras bicicletas son cuidadosamente seleccionadas de marcas de renombre mundial para garantizar la máxima calidad y durabilidad. Además, trabajamos con expertos en bicicletas para asegurarnos de que cada bicicleta que vendemos sea segura y esté lista para su uso.</p>
                          <p class="lead mb-4">No importa si eres un ciclista experimentado o simplemente estás comenzando tu viaje en bicicleta, Thecleta tiene algo para ti. Nuestro equipo de atención al cliente está siempre disponible para ayudarte a encontrar la bicicleta perfecta que se adapte a tus necesidades y presupuesto.</p>
                          <p class="lead mb-4">Explore nuestro catálogo en línea o visítenos en nuestra tienda física para descubrir las mejores opciones de bicicletas exclusivas. En Thecleta, estamos comprometidos con su satisfacción y haremos todo lo posible para garantizar que su experiencia de compra sea placentera y sin problemas</p>
                      </div>
                </div>            
            <div>
        </div>

{% endblock %}