{% extends "administrador/base.html" %}
{% load static %}



{% block title %} TheCleta/Productos {% endblock %}

{% block content %}
      

            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="album py-5 bg-body-tertiary">
                    <div class="container">
                
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/b_azul.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">La p3 velo busca ser una puerta de entrada al ciclismo de ruta, diseñada para horas de pedaleo en carretera y velocidad por la ciudad. </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/b_gris.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">La p3 hybrid esta pensada para la aventura con sus neumaticos versatiles que nos permite dar todo el rendimiento en distintos terrenos.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/b_rojo.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">La p3 Nix red diseñada para la ciudad con tan solo 12 kg. y una geometria minimalista y marco de chromoly la hará resistente a todo.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/pro.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">Nuestra bicicleta Kona, perfecta para toda situación,con su transmision Sram Apex y 9x1 velocidades para descenso y trial.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/pro1.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">Bicicleta electrica MTB TREK powerfly 4 2021, su gran autonomia de bateria te llevará a la cima de cualquie colina.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/pro2.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">Lo nuevo de kona y cube, la bicicleta de ruta mas liviana del mercado pesando 6.6kg. ganadora del tour de francia del 2021.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/pro3.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">Nuestra bicicleta de cross country construida con material de carbono c:62 y la tecnica de fabricacion monocasco advanced twind mold.  </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/pro4.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">La cube stereo hybrid, versatil domadora de rutas, tiene la fuerza y agilidad para sobrepasar cualquier terreno.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="img/productos/pro5.jpg" class="bd-placeholder-img card-img-top" width="225" height="300" />
                            <div class="card-body">
                              <p class="card-text">Una bicicleta de carretera de verdadero alto rendimiento, con ADN de ganadoras de carreras, y que ofrece la experiencia del cava por el precio de un refresco.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-warning">Comprar</button>
                                </div>                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div>
            </div>

{% endblock %}