section{
    display: flex;
    width: 1200px;
    height: 430px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;

}

section img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter:contrast(120%);
}

.marquee {
    display:flex;
    line-height: 50px;
    background-color: black;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}